# Virtual environment
venv/
.venv/

# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/

# Environment
.env

# MLflow
mlruns/
mlflow.db
mlartifacts/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Misc
output.txt
*.log
